/* pie slice and logo color: #23cfa7; */

body {
    margin: 0px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e6e4d9;
    background-image: url(./assets/images/pattern.png);
    height: 100%;
    width: 100%;
}

header {
    padding: 10px;
    background-color: #a593c2;
    height: 60px;
    width: 100%;
    nav{
        margin: 0 auto 20px;
        padding: 0;
    }
}

div {
    width: 100%;
    margin: 0;
}

#leftmenu {
    width: 20%;
    float: left;
    padding: 0;
    height: 100%;
    text-align: left;

    #lefthead {
        text-align: right;
        margin-bottom: 0px;
    }

    .searchbox {
        padding: 5px;
        margin: 5px;
        width: 80%;
        float: right;
    }

    #menulinks{
        list-style-type: none;
    }

}

main {
    float: right;
    width: 80%;
    margin: auto;
    height: 100%;
}

#welcome {
    text-align: center;
    align-content: center;
    h1{
        color:#a593c2;
    }
}

#ourstory{
    /* margin: 10px 10px 0 10px;
    padding: 5px 5px 0 5px; */
    margin: 20px;
    padding: 5px;
    text-align: justify;
    h3{    
        text-align: left;
        color:#a593c2;
        font-style: italic;
        margin: 0;
        padding: 0 0 5px 0;
    }
    /* #kitchen{
        float: left;
        clear: both;
    } */
}

#store{
    margin: 20px;
    padding: 5px;

    h2{
        color:#a593c2;
    }

    table{       
        td{
            margin: 0;
            padding: 0;
            border: solid;
            border-width: 4px;
            border-style: inset;
            border-color: #a593c2;
            background-color: #a593c2ad;
            
            img{
                width: 200px; 
                margin: 0;
                padding: 0;
                align-items: center;
            }
        }

        .details{
            margin: 0 4px;
            padding: 0 4px;
        }
    }
}

#special{
    margin: 20px;
    padding: 5px;
}

footer {
    clear: both;
    width: 100%;
    text-align: left;
    padding: 10px 3px;
    margin: 10px 3px;
}

header, footer, section, aside, main, article, nav, figure {
    display: block;
}